html {
  box-sizing: border-box;
}

.alert {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center; 
}

.alert img{
  width: 70vw;
  height: auto;
  position: absolute;
  bottom: 50px;
}

.alert h1{
  color: black;
  text-align: center;
  top: 0;
  position: absolute;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* starting screen */

.waitingroom.inactive{
  display: none;
}

.end_btn{
  font-size: 1rem;
  position: absolute;
  bottom: 5vh;
  font-weight: 500;
  color: white;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #007DC5;
  cursor: pointer;
  opacity: 0;
  transition: .5s;
}

/* animation */
.container {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  visibility: hidden;
  position: relative;
  overflow: hidden;
}


.container div.seven {
  z-index: 0;
}


.container div.six,
.container div.seven,
.container div.eight {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.container > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
}

.one {
  font-size: 4.5rem;
}

.one > img {
  vertical-align: middle;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

.two {
  font-size: 1.2rem;
  font-weight: lighter;
}

.three {
  font-size: 3rem;

}

.four .text-box {
  width: 600px;
  margin: 0 auto;
  border: 3px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.text-box p {
  margin: 0;
  text-align: left;
}

.text-box span {
  visibility: hidden;
}

.text-box .fake-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #fff;
  background-color: rgb(21, 161, 237);
  padding: 5px 8px;
  border-radius: 3px;
}

.text-box img{
  width: 40vw;
  height: auto;
}

.five p {
  font-size: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
}

.idea-3 strong {
  padding: 3px 5px;
  border-radius: 3px;
  display: inline-block;
}

.five .idea-5 {
  font-size: 4rem;
}

.idea-5 span,
.idea-6 span,
.wish-hbd span {
  display: inline-block;
}

.idea-6 span {
  font-size: 15rem;
}

.seven p {
  font-size: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
}


.six img {
  display: inline-block;
  max-width: 45%;
  height: auto;
}

.six .hat {
  position: absolute;
  width: 80px;
  top: -35px;
  left: 41.5%;
  /* transform: scale(0.1); */
}

.baloons img {
  display: inline-block;
  position: absolute;
  width: 200px;
}

.baloons img:nth-child(even) {
  left: 10%;
}

.baloons img:nth-child(odd) {
  right: 10%;
}

.baloons img:nth-child(3n + 0) {
  left: 30%;
}

.baloons .img-enlarge {
  scale: 1.5;
}

.wish-hbd {
  font-size: 3em;
  margin: 0;
  /* text-transform: uppercase; */
}

.wish h5 {
  font-weight: lighter;
  font-size: 2rem;
  margin: 10px 0 0;
}

/* eight */
.eight {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  z-index: -1;
}
.eight i {
  font-size: 7.5em;
  color: #7d2ae8;
  border: 5px solid transparent;
  outline: 3px solid #7d2ae8;
  border-radius: 50%;
}
.eight .question {
  font-size: 3em;
  color: #7d2ae8;
  margin: 15px 0;
  margin-bottom: 30px;
}
.eight-btn-group {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.eight-btn-group button {
  position: absolute;
  width: 150px;
  height: fit-content;
  font-size: 1.2em;
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
  border: 2px solid #7d2ae8;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}
.eight-btn-group button:nth-child(1) {
  margin-left: -200px;
  background: #7d2ae8;
}
.eight-btn-group button:nth-child(2) {
  margin-right: -200px;
  color: #7d2ae8;
}
.eight-btn-group button:nth-child(3) {
  background: #7d2ae8;
}

.eight-btn-group .restart-btn {
  display: none;
}

.eight img{
  width: 400px;
  display: none;
}

.eight p{
  display: none;
}

/* nine */
.nine p {
  font-size: 2rem;
  font-weight: lighter;
}

#replay {
  z-index: 3;
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-height: 1000px) {
  .six .hat {
    left: 40%;
  }
}

@media screen and (max-height: 800px) {
  .six .hat {
    left: 37%;
  }
}

@media screen and (max-height: 700px) {
  .six .hat {
    left: 32%;
  }
}

@media screen and (max-height: 850px) and (max-width: 450px) {
  .six .hat {
    left: 32%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 90%;
  }

  .four .text-box {
    width: 90%;
  }

  .text-box .fake-btn {
    right: 5px;
    bottom: -38px;
  }

  .idea-5 span {
    display: block;
  }

  .idea-6 span {
    font-size: 10rem;
  }

  .six .hat {
    width: 50px;
    top: -20px;
  }

  .wish-hbd {
    font-size: 2.3em;
  }

  .wish h5 {
    font-size: 1.4rem;
  }

  .nine p {
    font-size: 1.5rem;
    font-weight: lighter;
  }
}

/* gift */
.instruction{
  display: none;
  position: absolute;
  top: 1vh;
  text-align: center;
}
.giftbox-container{
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 15vh;
}
.giftcontainer{
  position: relative;
  display: none;
  z-index: 2;
}
.giftcontainer.right{
  margin-left: 200px;
}
.giftcontainer::before{
  content: '';
  position: absolute;
  width: 170px;
  height: 20px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 50%;
  top: 90px;
  left: -10px;
}
.gift{
  position: relative;
  width: 150px;
  height: 100px;
  background-color: #87cbfb;
  z-index: 1;
}
.gift::before{
  content: '';
  position: absolute;
  width: 25px;
  height: 100px;
  background-color: #e75bc0;
  left: 62px;
}
.gift::after{
  content: '';
  position: absolute;
  box-shadow: inset 0 10px rgba(0,0,0,0.3);
  width: 150px;
  height: 100px;
}

#click{
   display: none;
}
.click{
  position: absolute;
  background-color: #87cbfb;
  width: 170px;
  height: 40px;
  top: -40px;
  left: -10px;
  transform-origin: bottom left;
  transition: 0.3s;
  cursor: pointer;
}
.click::before{
  position: absolute;
  content: '';
  width: 25px;
  height: 40px;
  background-color: #e75bc0;
  left: 72px;
}
.click::after{
  content: '';
  position: absolute;
  width: 5px;
  height: 0px;
  border-bottom: 30px solid #e75bc0;
  border-top: 30px solid #e75bc0;
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
  transform: rotate(-90deg);
  left: 65px;
  top: -47px;
}
#click:checked+.click{
  transform: rotate(-110deg) scale(0.85);
}
#click:checked~.wishes{
  transform: translateY(-320px);
  opacity: 1;
}


/* click2 */
#click2{
  display: none;
}
.click2{
 position: absolute;
 background-color: #87cbfb;
 width: 170px;
 height: 40px;
 top: -40px;
 left: -10px;
 transform-origin: bottom left;
 transition: 0.3s;
 cursor: pointer;
}
.click2::before{
 position: absolute;
 content: '';
 width: 25px;
 height: 40px;
 background-color: #e75bc0;
 left: 72px;
}
.click2::after{
 content: '';
 position: absolute;
 width: 5px;
 height: 0px;
 border-bottom: 30px solid #e75bc0;
 border-top: 30px solid #e75bc0;
 border-left: 0px solid transparent;
 border-right: 30px solid transparent;
 transform: rotate(-90deg);
 left: 65px;
 top: -47px;
}
#click2:checked+.click2{
 transform: rotate(-110deg) scale(0.85);
}
#click2:checked~.wishes{
 transform: translateY(-320px);
 opacity: 1;
}


.wishes{
  position: absolute;
  transition: .5s;
  color: #333;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  z-index: -1;
  top: -60px;
  left: 0px;
  color: #fff;
  opacity: 0;
}

.wishes.right{
  left: 0
}

.wishes img{
  height: 40vh;
  width: auto;
}
.wishes a{
  padding: 6px 10px;
  background-color: #D7ECFF;
  color: #e75bc0;
  border-radius: 5px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  margin-top: 20px;
  border: rgb(255, 0, 106) solid 1px;
}
.openGift{
  display: none;
  cursor: pointer;
}

.wishes p{
  padding: 10px 15px;
  background-color: #D7ECFF;
  border: rgb(255, 0, 106) solid 1px;
  border-radius: 5px;
}

.wishes.left .infobox{
  position: absolute;
  text-transform: none;
  top: 0;
  left: -250px;
  width: 210px;
  font-size: 17px;
  color: black;
}

.wishes.right .infobox{
  position: absolute;
  text-transform: none;
  top: 0;
  right: -250px;
  width: 210px;
  font-size: 17px;
  color: black;
}

.wishes span{
  font-weight: 600;
  color:red;
  font-size: 20px;
}

.eight a {
  position: absolute;
  bottom: 20px;
  left: 20px;
}